<%= render 'shared/errors', resource: @question %>
<%= form_with model: [@test, @question], local: true do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  <p><%= f.submit %></p>
<% end %>
