<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if current_user != nil && current_user.admin? %>
      <%= link_to 'Admin panel', admin_root_path %> | 
    <% end %>
    <% if user_signed_in? %>
      Welcome, <%= current_user.email %> Guru | <%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p class="nav user"><%= link_to 'Login', new_user_session_path %> | <%= link_to 'Signup', new_user_registration_path %></p>
    <% end %>
  </span>

</nav>


