<h1><%= t('.header') %></h1>
<p><%= link_to t('.create_test'), new_admin_test_path %></p>
<table>
  <tr>
    <td><%= t('.title') %></td>
    <td><%= t('.category') %></td>
    <td><%= t('.level') %></td>
    <td><%= t('.questions') %></td>
    <td colspan="2"><%= t('.action') %></td>
  </tr>
  
  <%= render @tests %>

</table>


