<h1>Tests list</h1>
<p><%= link_to 'Create test', new_admin_test_path %></p>
<table>
  <tr>
    <td>Test title</td>
    <td>Category</td>
    <td>Level</td>
    <td>Questions</td>
    <td colspan='2'>Action</td>
  </tr>
  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, admin_test_path(test) %></td>
      <td><%= test.category.title %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= link_to 'Edit', edit_admin_test_path(test) %></td>
      <td><%= link_to 'Delete', admin_test_path(test), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>


