<h1><%= t('.header') %></h1>
<table>
  <tr>
    <td><%= t('.title') %></td>
    <td><%= t('.category') %></td>
    <td><%= t('.level') %></td>
    <td><%= t('.questions') %></td>
    <td><%= t('.action') %></td>
  </tr>
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.title %></td>
      <td><%= test.category.title %></td>
      <td><%= test.level %></td>
      <td><%= test.questions.count %></td>
      <td><%= button_to t('.start'), start_test_path(test) %></td>
    </tr>
  <% end %>
</table>


