<h2><%= @test.title %></h2>
<p><%= link_to 'New question', new_test_question_path(@test) %></p>
<table>
  <tr>
    <td>Question</td>
    <td colspan="2">Actions</td>
  </tr>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= link_to question.body, question %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question_path(question), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
<% end %>
</table>
<%= link_to 'Back to tests', tests_path %>
